body {
  margin: 0;
}
.header {
  color: #fff;
  background-color: #0f4545ad;
  height: 100px;
}
.header .name {
  font-size: 40px;
  font-weight: bold;
  font-size: 40px;
  font-weight: bold;
  display: block;
  padding: 26px;
}
.name a {
  color: #fff;
  text-decoration: none;
}
.menu-items {
  display: none;
  position: absolute;
  padding: 0;
  list-style-type: none;
  width: 150px;
  background-color: #0f4545ad;
  top: 42px;
}
.menu-items.show {
  display: block;
}
.menu-items li {
  padding: 10px 5px;
}
.menu-container {
  position: absolute;
  right: 200px;
  top: 42px;
}
.item-container ul {
  list-style-type: none;
  margin: 40px auto;

  padding: 0;
}

.items li,
.rentals li {
  gap: 10px;
  padding: 5px;
}

.items li {
  display: grid;
}
.items li a {
  color: black;
  text-decoration: none;
}
.items li:nth-child(2n),
.rentals li:nth-child(2n) {
  background-color: #e3e3e3;
}
.rentals li {
  display: grid;
  grid-template-columns: 200px 200px;
}
h1.title {
  text-align: center;
}
.image-container {
  text-align: center;
}
.item-image {
  width: 200px;
}

@media only screen and (min-width: 768px) {
  .item-container ul {
    width: 400px;
  }
  .items li {
    grid-template-columns: 200px 100px 100px;
  }
}
