body {
  margin: 0;
}
.header {
  color: #fff;
  background-color: #0f4545ad;
}
.header .name {
  font-size: 40px;
  font-weight: bold;
}
.menu-items {
  display: none;
}
.menu-items.show {
  display: block;
}
.item-container ul {
  list-style-type: none;
}
.items li {
  display: grid;
  grid-template-columns: 200px 100px 100px;
  gap: 10px;
}
